.page-login:before {
    background-image: url("../img/login/bg_login.jpg");
    background-position: top;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
}

html, body {
    width: 100%;
    height: 100%;
    min-width: 1366px;
    min-height: 768px;
}

@media screen and (max-height: 890px) {
    html, body {
        font-size: 14px;
    }
}

header.title {
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, .3);
}

header.title .logo-box {
    width: 20%;
    height: 100%;
    background: url("../img/logo-white.svg") no-repeat right;
    background-size: 80%;
    float: left;
}

header.title .sys-name {
    width: 20%;
    height: 100%;
    color: #fff;
    float: right;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

main.main-box {
    width: 100%;
    height: 70%;
}

main.main-box .slogan {
    width: 100%;
    height: 35%;
    color: #fff;
    text-align: center;
}

main.main-box .slogan h1 {
    font-size: 4.5rem;
    padding-top: 4rem;
    font-weight: 400;
    letter-spacing: .4rem;
}

main.main-box .slogan h2 {
    font-size: 1.8rem;
    letter-spacing: .1em;
    padding-top: 1.5rem;
    color: #cacaca;
}

main.main-box .login-box {
    width: 100%;
    height: 65%;
}

main.main-box .login-box .msg-box{
    width: 21rem;
    padding: .2rem .8rem;
    background-color: #f5f9fe;
    border-radius: .3rem;
    margin: 2rem auto -1rem auto;
    color: red;
    font-size: 14px;
}

main.main-box .login-box .user-name-box,
main.main-box .login-box .password-box,
main.main-box .login-box .verification-code-box,
main.main-box .login-box .button-box {
    display: block;
    margin: 2rem auto 0 auto;
    width: 21rem;
    position: relative;
}

main.main-box .login-box .form-control {
    background: transparent;
    border-color: #fff;
    color: #fff;
    font-size: 1rem;
}

main.main-box .login-box input::-webkit-input-placeholder {
    color: #cdccca !important;
    font-size: 1rem;
}

main.main-box .login-box input::-moz-placeholder {
    color: #cdccca !important;
}

main.main-box .login-box input::-ms-input-placeholder {
    color: #cdccca !important;
}

.login-box .user-name-box .form-control,
.login-box .password-box .form-control {
    padding-left: 3.6rem;
    height: 3rem;
}

.login-box .user-name-box label,
.login-box .password-box label {
    position: absolute;
    top: .6rem;
    margin: 0;
    width: 2.9rem;
    text-align: center;
    font-size: 19px;
    color: #fff;
}

.login-box .user-name-box label:before,
.login-box .password-box label:before {
    position: absolute;
    top: .28rem;
    left: 2.8rem;
    content: ' ';
    height: 1.2rem;
    border-right: 1px solid #fff;
}

.login-box .verification-code-box .form-control {
    display: inline-block;
    width: 46%;
    height: 3rem;
}

.login-box .verification-code-box label {
    width: 46%;
    height: 3rem;
    float: right;
    margin: 0;
    border: 1px solid #fff;
    border-radius: .25rem;
}

.login-box .verification-code-box label img {
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    cursor: pointer;
}

.login-box .button-box button {
    height: 3rem;
    background-color: #26a7de;
    border-color: #26a7de;
    box-shadow: none !important;
}

.login-box .button-box button:hover{
    background-color: #0d94ce;
    border-color: #0d94ce;
}

.login-box .button-box button.btn:active:hover {
    background-color: #0080b7;
    border-color: #0080b7;
}

footer.foot-box {
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, .3);
}

footer.foot-box div{
    width: 33.333333333%;
    height: 100%;
    padding-left: 7%;
    color: #fff;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer.foot-box div p{
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

footer.foot-box div p:last-child{
    color: #ccc;
}
