.sidebar-nav {
    background: #2a3542;
    padding: 10px;
}

.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #35404d;
    border-radius: 5px;
}

.sidebar-nav .metismenu {
    background: #2a3542;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar-nav .metismenu li + li {
    margin-top: 5px;
}

.sidebar-nav .metismenu li:first-child {
    margin-top: 5px;
}

.sidebar-nav .metismenu li:last-child {
    margin-bottom: 5px;
}


.sidebar-nav .metismenu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.sidebar-nav .metismenu a {
    position: relative;
    display: block;
    padding: 13px 15px;
    color: #adb5bd;
    outline-width: 0;
    transition: all .3s ease-out;
    white-space: nowrap;
}

.sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 30px;
}

.sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 45px;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active,
.sidebar-nav .metismenu .mm-active > a,
.sidebar-nav .metismenu .submenu.mm-active > a:hover,
.sidebar-nav .metismenu .mm-show > .submenu > a:hover,
.sidebar-nav .metismenu .submenu.mm-active > a:focus,
.sidebar-nav .metismenu .submenu.mm-active > a:active,
.sidebar-nav .metismenu .submenu.mm-active > a:active,
.sidebar-nav .metismenu .mm-show > .submenu.mm-active > a {
    color: #fff;
    text-decoration: none;
    background: #35404d;
    border-radius: 5px;
}

.sidebar-nav .metismenu a:hover > i,
.sidebar-nav .metismenu a:focus > i,
.sidebar-nav .metismenu a:active > i,
.sidebar-nav .metismenu .mm-active > a > i {
    color: #26a7e1;
}

.sidebar-nav .metismenu .mm-active {
    background: #35404d;
    border-radius: 5px;
}

.sidebar-nav .metismenu .submenu.mm-active {
    background: #35404d;
}

.sidebar-nav .metismenu .mm-show a:hover,
.sidebar-nav .metismenu .mm-show > a:focus,
.sidebar-nav .metismenu .mm-show > a:active,
.sidebar-nav .metismenu .mm-show > .mm-active > a {
    color: #26a7e1;
}

.nav-mini .metismenu > li > a > .nav-name {
    display: none;
}

.nav-mini .sidebar-nav {
    padding: 0;
}

.nav-mini .metismenu > li > a::after {
    display: none;
}

.nav-mini .metismenu > li.mm-active:not(:hover) > ul.mm-collapse.mm-show {
    display: none;
}

.nav-mini .metismenu > li > a {
    text-align: center;
}

.nav-mini .sidebar-nav .metismenu > li > ul {
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
}

@media (min-width: 992px) {
    .nav-mini .sidebar-nav .metismenu li {
        position: relative;
    }

    .nav-mini .sidebar-nav .metismenu > li > ul {
        position: absolute;
        left: 100%;
        top: 0;
        min-width: 200px;
        z-index: 1001;
    }

    .nav-mini .sidebar-nav .metismenu > li:hover > ul {
        height: auto !important;
    }

    .nav-mini .sidebar-nav .metismenu > li:hover > ul,
    .nav-mini .sidebar-nav .metismenu > li:hover > ul.collapse {
        display: block;
    }

    .nav-mini .sidebar-nav .metismenu > li:hover > a.has-arrow:after {
        transform: rotate(135deg);
    }
}
